/* Color Themes */
/* Fonts */
@font-face {
  font-family: 'Just Another Hand';
  font-style: normal;
  font-weight: 400;
  src: local('Just Another Hand Regular'), local('JustAnotherHand-Regular'), url(https://fonts.gstatic.com/s/justanotherhand/v10/845CNN4-AJyIGvIou-6yJKyptyOpOfr4DG0.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Reenie Beanie';
  font-style: normal;
  font-weight: 400;
  src: local('Reenie Beanie'), local('ReenieBeanie'), url(https://fonts.gstatic.com/s/reeniebeanie/v9/z7NSdR76eDkaJKZJFkkjuvWxXPq1rg.ttf) format('truetype');
}
.main-carousel .carousel {
  height: 100%;
}
.main-carousel .carousel .slider-wrapper {
  height: 100%;
}
.main-carousel .carousel .slider-wrapper .slider {
  height: 100%;
}
.main-carousel .carousel .slider-wrapper .slider .slide .slide-container {
  height: 100%;
  position: relative;
}
.main-carousel {
  position: relative;
  height: 100%;
}
.main-carousel .cover {
  height: 100%;
}
.main-carousel .cover .carousel-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
}
.main-carousel .cover img {
  height: 100%;
  width: inherit;
  min-width: 100%;
  -webkit-filter: grayscale(50%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(50%);
}
.main-carousel .cover .page-title {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 30%;
  font-size: 10rem;
  color: #ffffff;
  width: 45%;
  text-align: center;
  font-weight: bold;
  font-family: 'Reenie Beanie', cursive;
  color: #cd853f;
}
.main-carousel .event {
  height: 100%;
}
.main-carousel .event .event-container {
  display: inline-flex;
}
.main-carousel .event .event-container .item {
  flex: 1;
  padding: 3%;
}
.main-carousel .event .event-container .item.event-info {
  color: #ffffff;
}
.main-carousel .event .event-container .item.event-info .event-title {
  color: #cd853f;
  margin-bottom: 50px;
}
.main-carousel .event .event-container .item.event-info .event-text {
  padding: 0 5%;
}
.main-carousel .event .event-container .item.event-info .event-link {
  padding: 5px 10px;
  background: rgba(70, 70, 70, 0.5);
  border-radius: 50px;
  color: #ffffff;
  transition: 0.5s all ease-in-out;
}
.main-carousel .event .event-container .item.event-info .event-link:hover {
  text-decoration: none;
  background: #464646;
}
.music .music-container {
  overflow-y: auto;
  padding: 30px 3%;
}
.music .music-container .music-row {
  display: flex;
}
.music .music-container .music-row + .music-row {
  margin-top: 50px;
}
.music .music-container .music-row.album {
  height: 200px;
}
.music .music-container .music-row.split .split-section + .split-section {
  padding-left: 10px;
}
.music .music-container .music-row.split .split-section.sz-1 {
  width: 10%;
}
@media (max-width: 770px) {
  .music .music-container .music-row.split .split-section.sz-1 {
    width: 100%;
  }
}
.music .music-container .music-row.split .split-section.sz-2 {
  width: 20%;
}
@media (max-width: 770px) {
  .music .music-container .music-row.split .split-section.sz-2 {
    width: 100%;
  }
}
.music .music-container .music-row.split .split-section.sz-3 {
  width: 30%;
}
@media (max-width: 770px) {
  .music .music-container .music-row.split .split-section.sz-3 {
    width: 100%;
  }
}
.music .music-container .music-row.split .split-section.sz-4 {
  width: 40%;
}
@media (max-width: 770px) {
  .music .music-container .music-row.split .split-section.sz-4 {
    width: 100%;
  }
}
.music .music-container .music-row.split .split-section.sz-5 {
  width: 50%;
}
@media (max-width: 770px) {
  .music .music-container .music-row.split .split-section.sz-5 {
    width: 100%;
  }
}
.music .music-container .music-row.split .split-section.sz-6 {
  width: 60%;
}
@media (max-width: 770px) {
  .music .music-container .music-row.split .split-section.sz-6 {
    width: 100%;
  }
}
@media (max-width: 770px) {
  .music .music-container .music-row.split {
    flex-wrap: wrap;
  }
}
.music .music-container .music-row.split .track-list .track-item {
  display: flex;
  background: #ffffff;
  padding: 10px 7px;
}
.music .music-container .music-row.split .track-list .track-item + .track-item {
  margin-top: 5px;
}
.music .music-container .music-row.split .track-list .track-item .song-icon {
  background: #646464;
  color: #ffffff;
  margin-right: 20px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.music .music-container .music-row.split .track-list .track-item .song-icon img {
  width: 150%;
  height: 150%;
}
.music .music-container .music-row.split .track-list .track-item .song-title {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Reenie Beanie', cursive;
}
.music .music-container .music-row.split .track-list .track-item .song-links-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-left: 7px;
}
.music .music-container .music-row.split .track-list .track-item .song-links-container .link-icon {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  background: rgba(150, 150, 150, 0.9);
  opacity: 0.5;
  transition: 0.5s all ease-in-out;
}
.music .music-container .music-row.split .track-list .track-item .song-links-container .link-icon:hover {
  opacity: 1;
  text-decoration: none;
}
.music .music-container .music-row.split .track-list .track-item .song-links-container .link-icon + .link-icon {
  margin-left: 7px;
}
.music .music-container .music-row.split .track-list .track-item .song-links-container .link-icon.itunes {
  background: rgba(105, 166, 249, 0.9);
}
.music .music-container .music-row.split .track-list .track-item .song-links-container .link-icon.soundcloud {
  background: rgba(255, 119, 0, 0.9);
}
.music .music-container .music-row.split .track-list .track-item .song-links-container .link-icon.spinrilla {
  background: rgba(70, 8, 86, 0.9);
}
.music .music-container .music-row.split .single .mixtape-conatainer {
  text-align: left;
}
.music .music-container .music-row.split .single .mixtape-conatainer iframe {
  width: 100%;
}
.videos .videos-container {
  overflow-y: auto;
  padding: 30px 3%;
  color: #cd853f;
}
.gallery .gallery-container {
  overflow-y: auto;
  padding: 30px 3%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gallery .gallery-container .img-container {
  height: 200px;
  padding: 7px;
  display: inline-block;
}
.gallery .gallery-container .img-container img {
  height: 100%;
}
body,
html {
  margin: 0px !important;
  color: #000000;
  height: 100%;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
.navbar {
  z-index: 100;
  background: #000000 !important;
}
.navbar .navbar-brand {
  font-family: 'Reenie Beanie', cursive;
  font-size: 40px;
  color: #cd853f !important;
}
.navbar .navbar-brand.navbar-brand-centered {
  position: absolute;
  left: 50%;
  display: block;
  width: 160px;
  text-align: center;
  margin-left: -80px;
}
.navbar .nav-item {
  font-size: 1.2rem;
}
.navbar .nav-item + .nav-item {
  margin-left: 20px;
}
.navbar .nav-right {
  margin-right: 25%;
}
.navbar .nav-left {
  margin-left: 25%;
}
.page-body {
  height: calc(100vh - 53px);
  padding: 4% 4% 2%;
  position: relative;
  overflow: hidden;
}
.page-body .background-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow-y: auto;
  filter: grayscale(50%) blur(5px);
  -webkit-filter: grayscale(50%) blur(5px);
  transform: scale(1.1);
}
.page-body .background-container .background-img {
  width: 100%;
  height: 100%;
}
.page-body .background-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3c3c50;
  opacity: 0.7;
}
.page-body .content-container {
  position: relative;
  border: 1px solid #323232;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.page-body .content-container .body-container {
  overflow: hidden;
  flex: 1;
}
.page-body .content-container .body-container.page {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
}
.page-body .content-container .body-container.page h1 {
  padding: 10px 3%;
  background: #323232;
  border-bottom: 1px solid rgba(150, 150, 150, 0.2);
  margin-bottom: 0;
  color: #969696;
}
.page-body .content-container .footer-container {
  padding: 5px 2%;
  display: flex;
  justify-content: space-between;
  color: #969696;
  background: #323232;
  min-height: 29px;
}
@media (max-width: 770px) {
  .page-body .content-container .footer-container {
    flex-wrap: wrap;
  }
}
.page-body .content-container .footer-container .copyright {
  font-size: 12px;
}
.page-body .content-container .footer-container .contact-pills {
  display: flex;
}
.page-body .content-container .footer-container .contact-pills .footer-pill {
  padding: 3px 10px;
  border-radius: 50px;
  font-size: 0.7rem;
  background: rgba(70, 70, 70, 0.5);
  color: #969696;
  transition: 0.5s all ease-in-out;
}
.page-body .content-container .footer-container .contact-pills .footer-pill.instagram:hover {
  background: rgba(195, 42, 163, 0.5);
}
.page-body .content-container .footer-container .contact-pills .footer-pill.facebook:hover {
  background: rgba(59, 89, 152, 0.5);
}
.page-body .content-container .footer-container .contact-pills .footer-pill.twitter:hover {
  background: rgba(0, 182, 241, 0.5);
}
.page-body .content-container .footer-container .contact-pills .footer-pill.spotify:hover {
  background: rgba(29, 185, 84, 0.5);
}
.page-body .content-container .footer-container .contact-pills .footer-pill.soundcloud:hover {
  background: rgba(255, 85, 0, 0.5);
}
.page-body .content-container .footer-container .contact-pills .footer-pill:hover {
  text-decoration: none;
}
.page-body .content-container .footer-container .contact-pills .footer-pill + .footer-pill {
  margin-left: 5px;
}
.page-body .content-container .footer-container .contact-pills .footer-pill i {
  margin-right: 7px;
}
@media (max-width: 770px) {
  .page-body .content-container .footer-container .contact-pills .footer-pill span {
    display: none;
  }
}
.list-container {
  position: relative;
  width: 100%;
}
.list-container .ctrl-container {
  z-index: 3;
  display: flex;
}
.list-container .ctrl-container .ctrl {
  font-size: 15px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.5;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.list-container .ctrl-container .ctrl:hover {
  opacity: 0.8;
  color: #cd853f;
}
.list-container .ctrl-container .ctrl.prev {
  left: 5px;
}
.list-container .ctrl-container .ctrl.next {
  right: 5px;
}
.list-container .ctrl-container .ctrl + .ctrl {
  margin-left: 10px;
}
.list-container.single {
  padding-top: 7px;
}
.list-container .alice-carousel {
  height: calc(100% - 25px);
}
.list-container .alice-carousel div {
  height: 100%;
}
.list-container .alice-carousel div div {
  height: initial;
}
.list-container .alice-carousel div .alice-carousel__wrapper {
  height: 100%;
}
.list-container .alice-carousel div .alice-carousel__wrapper ul li {
  height: 100%;
  text-align: center;
  padding: 5px;
}
.list-container .alice-carousel div .alice-carousel__wrapper ul li .album-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  padding: 7px;
}
.list-container .alice-carousel div .alice-carousel__wrapper ul li .album-container .cover-container {
  height: inherit;
  margin-bottom: 7px;
  text-align: left;
}
.list-container .alice-carousel div .alice-carousel__wrapper ul li .album-container .cover-container img {
  height: 100%;
  max-width: 100%;
}
.list-container .alice-carousel div .alice-carousel__wrapper ul li .album-container .cover-container iframe {
  background: rgba(205, 133, 63, 0.2) !important;
}
.list-container .alice-carousel div .alice-carousel__wrapper ul li .album-container .album-info {
  text-align: left;
}
.list-container .alice-carousel div .alice-carousel__wrapper ul li .album-container .album-info .album-title {
  font-weight: bold;
  font-size: 1.1rem;
  color: #cd853f;
}
.list-container .alice-carousel div .alice-carousel__wrapper ul li .album-container .album-info .album-additional {
  font-size: 0.8rem;
  color: #969696;
}
.list-container .alice-carousel div .alice-carousel__wrapper ul li .album-container.style-2 .cover-container {
  text-align: center;
}
.list-container .alice-carousel div .alice-carousel__wrapper ul li .album-container.style-2 .album-title {
  text-align: center;
  font-size: 1.2rem;
}
/**/
.sub-title {
  display: block;
  font-weight: bold;
  color: #969696;
}
.sub-title.lrg-gap {
  margin-bottom: 45px;
}
/* Custom Scrollbar*/
.scroll-style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
.scroll-style::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}
.scroll-style::-webkit-scrollbar-thumb {
  background-color: #cd853f;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}
.tst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
}
.tst h1 {
  font-size: 70px;
  color: #cd853f;
  text-align: center;
  font-family: 'Reenie Beanie', cursive;
}
