@mobile-device: ~"(max-width: 770px)";

/* Color Themes */
@background: rgba(51, 52, 50, 1);
.background(@prop,@val){ @{prop}: rgba(220,220,220,@val) !important; }

@color1: rgba(205,133,63,1);
.color1(@prop,@val){ @{prop}: rgba(205,133,63,@val) !important; }

/* Fonts */
@iconsize: 25px;
@font-size: 14px;
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand|Montserrat|Raleway|Reenie+Beanie');

@import "home.less";
@import "music.less";
@import "videos.less";
@import "gallery.less";
@import "events.less";

body, html { 
    margin: 0px !important;
    color: rgba(0,0,0,1);
    height: 100%;
    font-size: @font-size;
    //font-family: 'Reenie Beanie', cursive;
    //font-family: 'Raleway', sans-serif;
    //font-family: 'Just Another Hand', cursive;
    font-family: 'Montserrat', sans-serif;
}
.navbar {
    z-index: 100;
    background: rgba(0,0,0,1) !important;
    .navbar-brand {
        font-family: 'Reenie Beanie', cursive;
        font-size: 40px;
        color: @color1 !important;

        &.navbar-brand-centered {
            position: absolute;
            left: 50%;
            display: block;
            width: 160px;
            text-align: center;

            margin-left: -80px;
        }
    }

    .nav-item {
        font-size: 1.2rem;
        &+.nav-item { margin-left: 20px; }
    }

    .nav-right { margin-right: 25%;}
    .nav-left { margin-left: 25%; }
}

.page-body {
    height: calc(100vh - 53px);
    padding: 4% 4% 2%;
    position: relative;
    overflow: hidden;
    .background-container {
        width: 100%;
        height:100%;
        position: absolute;
        top:0;
        left:0;
        z-index: 0; 
        overflow-y: auto;

        filter: grayscale(50%) blur(5px);
        -webkit-filter: grayscale(50%) blur(5px);
        transform: scale(1.1);
        .background-img {
            width: 100%;
            height:100%;         
        }
        &::before{
            content: '';
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            background: rgba(60,60,80,1);
            opacity: 0.7;
        }        
    }
    .content-container { 
        position: relative;
        border: 1px solid rgba(50,50,50,1);
        height:100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .body-container { 
            overflow: hidden; flex: 1;
            &.page {
                display: flex;
                flex-direction: column;
                background: rgba(0, 0, 0, 0.6);
                h1 { 
                    padding: 10px 3%;
                    background: rgba(50,50,50,1);
                    border-bottom: 1px solid rgba(150,150,150,0.2);
                    margin-bottom: 0;
                    color:rgba(150,150,150,1);
                }
            }
        }
        .footer-container {
            padding: 5px 2%;
            display: flex;
            justify-content: space-between;
            color: rgba(150,150,150,1);
            background: rgba(50,50,50,1);
            min-height: 29px;

            @media @mobile-device { flex-wrap: wrap; }
            .copyright { font-size: 12px; }
            .contact-pills {
                display: flex;
                .footer-pill {
                    padding: 3px 10px;
                    border-radius: 50px;
                    font-size: .7rem;
                    background: rgba(70,70,70,0.5);
                    color: rgba(150,150,150,1);
                    transition: 0.5s all ease-in-out;

                    &.instagram { &:hover { background: rgba(195,42,163,0.5);}}
                    &.facebook{ &:hover { background: rgba(59,89,152,0.5);}}
                    &.twitter{ &:hover { background: rgba(0,182,241,0.5);}}
                    &.spotify{ &:hover { background: rgba(29, 185, 84, 0.5);}}
                    &.soundcloud{ &:hover { background: rgba(255, 85, 0, 0.5);}}

                    &:hover { text-decoration: none; }
                    &+.footer-pill { margin-left: 5px;}
                    i { margin-right: 7px;}

                    span { @media @mobile-device { display: none; } }
                }
            }
        }
    }
}

.list-container {
    position: relative;
    width: 100%;
    .ctrl-container {        
        z-index: 3;
        display: flex;
        .ctrl{
            cursor: pointer;            
            font-size: 15px;            
            border-radius: 50%;
            height: 25px;
            width: 25px;
            text-align: center;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            opacity: 0.5;
            color:rgba(255,255,255,1);
            cursor: pointer;
            transition: 0.5s all ease-in-out;

            &:hover { opacity: 0.8; color:@color1;}
            &.prev { left: 5px;}
            &.next{ right: 5px; }
            &+.ctrl { margin-left: 10px;}
        }
    }
    &.single { padding-top:7px;  }
    &.show-space { li { padding: 15px 0px 5px !important; }}

    .alice-carousel {
        height: calc(100% - 25px);
        div { 
            height: 100%;
            div { height: initial; }
            .alice-carousel__wrapper {
                height: 100%;
                ul {
                    li {
                        height: 100%;
                        text-align: center;
                        padding: 5px;
                        .album-container { 
                            height: 100%;
                            overflow: hidden;
                            display: flex;
                            flex-direction: column-reverse;
                            padding: 7px;
                            .cover-container {
                                height: inherit;
                                margin-bottom: 7px;
                                text-align: left;
                                img { 
                                    height: 100%; 
                                    max-width: 100%;                                    
                                }
                                iframe { .color1(background, 0.2); }
                            }
                            .album-info {
                                text-align: left;
                                .album-title { font-weight: bold; font-size: 1.1rem; color: @color1; }
                                .album-additional { font-size: 0.8rem; color: rgba(150,150,150,1); }
                            }

                            &.style-2 {
                                .cover-container { text-align: center; }
                                .album-title { text-align: center; font-size: 1.2rem; }
                            }
                        }  
                        
                        .event-container {
                            padding: 15px 7px 7px;
                            border-top:3px solid rgba(255,255,255,1);
                            height: 100%;
                            position: relative;

                            &:before {
                                position: absolute;
                                top:-9px;
                                left:-7px;
                                content:'';
                                height: 15px;
                                width:15px;
                                border-radius: 50%;
                                border:2px solid rgba(255,255,255,1);
                                z-index: 100;
                                background: rgba(255,255,255,1);
                            }

                            &.first {
                                border-top-color: @color1;
                                &:before { border-color: @color1; background: @color1;}
                            }
                            &.last { border-top-color: rgba(255,255,255,0);}

                            .event-subcontainer {
                                height: 100%;
                                overflow: hidden;
                                display: flex;
                                flex-direction: column-reverse;
                                padding: 7px;
                                position: relative;

                                .img-container {
                                    position: absolute;
                                    z-index: 1;
                                    top:0;
                                    left:0;
                                    width: 100%;
                                    height:100%;
                                    background: rgba(0,0,0,1);
                                    img { position: relative; z-index: 1; width: 100%; height: 100%; opacity: 1;}
                                    &:after {
                                        content: '';
                                        position: absolute;
                                        z-index: 2;
                                        top:0;
                                        left:0;
                                        height:100%;
                                        width:100%;
                                        background: linear-gradient(to bottom,rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%);
                                    }
                                }
                                .event-info { 
                                    position: relative;
                                    z-index: 2;
                                    padding: 10px;
                                    text-align: left;

                                    .event-date {
                                        margin-bottom: 7px;                                    
                                        span{
                                            padding: 3px 10px;
                                            border-radius: 20px;                                    
                                            background: rgba(0,0,0,0.3);
                                            border: 2px solid rgba(255,255,255,0.5);
                                            color: rgba(255,255,255,1);
                                            font-size: .7rem;
                                            display: inline-block;
                                        }
                                    }
                                    .event-location { color: rgba(200,200,200,0.8); font-weight: bold; margin-bottom: 7px;}
                                    .event-title { color: @color1; font-weight: bold; font-size: 1.5rem; margin-bottom: 7px; }

                                    .event-links {
                                        display: flex;
                                        justify-content: center;
                                        
                                        .event-link {
                                            padding: 5px 10px;
                                            background: rgba(70,70,70,0.5);
                                            border-radius: 50px;
                                            color: rgba(255,255,255,1);
                                            transition: 0.5s all ease-in-out;
                                            font-size: 1rem;
                                            &:hover { text-decoration: none; background: @color1; }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/**/
.sub-title { 
    display:block; 
    font-weight: bold; 
    color: rgba(150,150,150,1); 
    &.lrg-gap { margin-bottom: 45px; }
}

/* Custom Scrollbar*/
.scroll-style {
    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
        width: 5px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: @color1; 
        background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%,
                                transparent 25%, transparent 50%,rgba(255, 255, 255, .2) 50%,
                                rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    }
}

.tst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255,255,255,1);
    h1{ font-size: 70px; color: @color1; text-align: center; font-family: 'Reenie Beanie', cursive; }
}