.gallery {
    .gallery-container {
        overflow-y: auto;
        padding: 30px 3%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .img-container {
            height: 200px;
            padding: 7px;
            display: inline-block;
            img { height:100%; }
        }
    }
}